<div class="help-block">
   Entrez votre API key de pivotal tracker. (Celle qui est présente dans le bas de votre page de profil.) 
</div>

<form action="/" method="post">
  <input type="text" name="apikey" />
  <button type="submit">Next step</button>
</form>